  .home-wr {
    width: 100%;
    .logo {
        padding: 0 0 0 80px;
        font-family: 'Great Vibes', cursive;
        font-size: 24px;
    }

    .h1-review {
        margin-left: 150px;
    }

    .h1-doc {
        margin-left: 40px !important;
    }


    .desktop-nav {
        position: fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        height: 40px;
        background: #3187f4;
        font-size: 16px;
        display: grid;
        padding: 14px 0 0;
        color: white;
        grid-template-columns: auto auto auto;

        

        .nav-btns {
            justify-self: center;
            margin: 0 0 0 10px;
        
            li {
                list-style: none;
                display: inline-block;
                margin: 0 50px;
                font-size: 16px;
                cursor: pointer;
            }
        }

        .user-bar {
            justify-self: right;
            padding: 0 50px 0 0;
            font-size: 18px;
        }

        .auth-bar {


            a {
                color: white;
                font-size: 16px;
                text-decoration: none;
                margin: 0 10px;
            }

        }

        .username {
            cursor: pointer;
        }

        .logout {
            width: 80px;
            text-align: center;
            height: 35px;
            background: #F75B4A;
            border-radius: 10px;
            float: right;
            position: relative;
            top: -4px;
            margin-left: 15px;
            line-height: 32px;
        }
    }

    h1 {
        font-weight: 400;
        position: relative;
        margin: 30px 3% 0 ;
    }

    .display-none{
        display: none;
    }

    .landing-board {
        width: 100%;
        margin-top: 50px;
        height: 80vh;

        .landing-bg {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 60vh;
            opacity: .9;
            background: #3187f4;
        }

        img {
            width: 100%;
            height: 60vh;
            position: absolute;
            z-index: -2;
        }

        p {
            width: 50%;
            position: relative;
            left: 15%;
            top: 74px;
            font-size: 44px;
            color: #f5f5f5;
        }

        button {
            position: absolute;
            top: 60%;
            left: 60%;
            border: none;
            width: 220px;
            height: 50px;
            color: #fff;
            background: #F75B4A;
            font-size: 22px;
        }

        a {
            color: #fff;
            border: none;
            text-decoration: none;
        }

        
    }

    
}

@media only screen and (max-width: 600px) {
    .landing_is_7__2iLqM {
        margin: 20px 30px;  
    }

    .find-doc-btn {
        position: absolute;
        left: 50% !important;
        transform: translateX(-50%);
        top: 70vh !important;
    } 

    .landing-board {
        height: 75vh !important;
    }

    h1 {
        position: relative;
        left: 50%;
        margin: 0 !important;
        transform: translateX(-50%);
        text-align: center;
    }

    .msgl {
        padding: 20px;
    }
}