.star-ratings {
    position: relative;
    left: 20px;
    top: 20px;
}

.rating {
    float: left;
    position: relative;
    margin: 22px 0 0 60px;
}

.doctors-wr {
    width: 80%;
    height: auto;
    margin: 0 auto;

    h1 {
        font-weight: 400;
        position: relative;
        margin: 30px 6.5% 0 ; 
    }

    .cards-wr {
        display: grid;
        grid-template-columns: auto auto auto;

        .doc-card {
            margin: 30px 0; 
            width: 325px;
            height: 500px;
            justify-self: center;
            background: #f5f5f5;
            box-shadow: 4px 4px 4px rgba(27, 129, 218, 0.25);
            display: inline-block;

            img {
                width: 100%;
                height: 250px;
                position: relative;
                top: 0;
                left: 0;
            }

            p {
                margin: 13px 0;
                text-align: center;
                font-size: 18px;
            }

            span {
                color: #777
            }

            .doc-name {
                font-size: 22px;
            }

            .contact-doc {
                width: 80%;
                margin: 30px auto 0;
                display: grid;
                grid-template-columns: 33% 33% 33%;
                    
                .more-info {
                    cursor: pointer;    
                    justify-self: center;
                    width: 60px;
                    height: 35px;
                    border: none;
                    background-color: #3187f4;
                    border-radius: 10px;
                    color: #fff
                }

                .text-doc {
                    cursor: pointer;
                    width: 60px;
                    height: 40px;
                    border: none;
                    background-color: inherit;
                    padding: 0;
                    margin-left: 5px;

                    img {
                        width: 100%;
                        height: 96%;

                    }
                }

                .videocall-doc {
                    cursor: pointer;
                    width: 60px;
                    height: 50px;
                    border: none;
                    background-color: inherit;
                    padding: 0;
                    margin-top: -8px;

                    img {
                        width: 100%;
                        height: 100%;

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .doctors-wr {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        position: relative ;

        .cards-wr {
            display: block;
            position: relative;
            left: 50% !important;
            transform: translateX(-50%);
        
            .doc-card {
                margin: 10px 0 !important;
                width: 100%;
            }
        }
    }
}