.display-none {
    display: none;
}

.avatar {
    position: relative;
    width: 100%;
    height: 100%;    

    img {
        width: 100%;
        height: 100%;
    }
}

.profile-pic {
    float: left;
    width: 200px;
    height: 200px;
    border: 1.5px solid #777;
    border-radius: 2px;
    position: relative;

    button {
        border: none;
        background: #F75B4A;
        color: #fff;    
        height: 30px;
        border-radius: 4px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    form {
        input {
            border: none;
            color: #fff;
            left: 26%;
            
            position: relative;
        }
    }

    
}

.logo {
    width: 200px;
    padding: 0 0 0 50px;
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
}


.desktop-nav {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 60%;
    height: 40px;
    background: #3187f4;
    font-size: 16px;
    display: grid;
    padding: 14px 0 0;
    color: white;
    grid-template-columns: auto auto auto;

    

    .nav-btns {
        justify-self: center;
        margin: 0 0 0 10px;
    
        li {
            list-style: none;
            display: inline-block;
            margin: 0 50px;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .user-bar {
        justify-self: right;
        padding: 0 50px 0 0;
        font-size: 18px;
    }

    .auth-bar {


        a {
            color: white;
            font-size: 16px;
            text-decoration: none;
            margin: 0 10px;
        }

    }

    .username {
        cursor: pointer;
    }

    .logout {
        width: 80px;
        text-align: center;
        height: 35px;
        background: #F75B4A;
        border-radius: 10px;
        float: right;
        position: relative;
        top: -4px;
        margin-left: 15px;
        line-height: 32px;
    }
}

.profile-wr {
    width: 70%;
    height: 100vh;
    margin: 60px auto 0; 
    padding: 0 20px; 
    position: relative;
    
    .profile-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 40%;
            height: 40%;
            position: absolute;
            left: 45%;
            top: 20px;  
        }
    }

    button {
        cursor: pointer;
    }

    h1 {
        margin: 0 !important;
        font-weight: 200;
        padding: 10px 0;
    }

    .br {
        padding-top: 50px !important;
    }

    .profile-info {
        width: 98%;
        height: 350px;
        border-radius: 10px; 
        background-color: inherit;
        
    }

    .general-info {
        p {
            margin: 10px 0 !important;
            font-size: 20px;
            text-indent: 20px;
            font-weight: 200px;
        }

        span {
            color: #777;
            padding-right: 5px;
        }

        button {
            margin: 20px 20px;
            border: none;
            background: #3187f4;
            color: #fff;
            width: 150px;
            height: 40px;
            border-radius: 10px;
        }
    }

    .profile-info {

        form {
            padding: 20px 0 0;
        }

        input {
            border: none;
            border-bottom: 1.5px solid #777; 
            margin-right: 20px;
            padding-left: 10px;
            font-size: 16px;
        }

        button {
            width: 70px;
            height: 30px;
            background: #3187f4;
            color: #fff;
            border: none;
            border-radius: 10px;
        }

        .profile-title {
            width: 100px
        }
        .profile-text {
            width: 65%
        }

        .infos {
            div {
                background: #3187f4;
                margin: 3px 0;
                width: 87%;
                border-radius: 5px;
                color: #fff;
                font-size: 18px;
            }

            div div {
                
                display: inline-block;
            }

            .info-title {
                width: 100px;
                font-size: 16px !important;
                text-indent: 10px;
            }

            .info-text {
                width: 65%;
                text-indent: 34px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .profile-wr {
        width: 90%;
    }

    .logo {
        font-size: 24px !important;
    }

    .desktop-nav {
        width: 78%;
    }
}