@import "./_include-grid.scss";
@import "./include-media.scss";

.stopOverflow {
    overflow: hidden;
    position: relative;
    height: 468vh;

    @include media(">tablet") {
        overflow: hidden;
        position: relative;
        height: 477vh;
    }
}

html {
    scroll-behavior: smooth;
}