@import "../../include-media";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    @include media("<tablet") {
        overflow-x: hidden;
    }
}

.mobile {
    height: 100%;
    margin: 0px auto;
    overflow: hidden;
    // position: fixed;
    // display: block;
    height: 100%;
    // width: 100%
}

.Logo {
    text-transform: uppercase;
    opacity: 0.8;
    padding-left: 50px;
    cursor: pointer;
}

//burger icon for nav
.Burger {
    display: none;

    @include media ("<tablet") {
        display: block;
        padding: 0 50px;

        &:hover {
            cursor: pointer;
        }

        div {
            width: 30px;
            height: 2px;
            background-color: #2f2f2f;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}

.navClass {
    background-color: transparent;
    min-height: 10.26vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 35%;



        @include media ("<desktop") {
            width: 45%;
        }

        @include media ("<tablet") {
            position: absolute;
            right: 0px;
            height: 90vh;
            top: 10.2vh;
            background-color: transparent;
            // display: none;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.8s ease-in;
            z-index: 1;
            background: rgba(246, 248, 248, 0.699)
        }

        li {
            text-decoration: none;
            color: #2f2f2f;
            font-weight: 500;

            &:hover {
                cursor: pointer;
            }

            @include media("<tablet") {
                opacity: 0;
            }

            a {
                text-decoration: none;
                color: #2f2f2f;
                opacity: 1;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(63, 155, 155, 0.5);
    z-index: 1;
}

.navSlideChange {
    @include media ("<tablet") {
        background-color: rgba(63, 155, 155, 0.5) !important;

    }

}

//animation for nav
.animateNav {
    transition: transform 0.5s ease-in;
    transform: translateX(0%) !important;
    display: flex !important;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }

    to {
        opacity: 1;
        transform: translateX(0px)
    }
}



.Line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
}



.Line2 {
    opacity: 0;
}

.Line3 {
    transform: rotate(45deg) translate(-3px, -4px);
}