/* Main div */
.ClientReview {
    width: 100%;
    margin: 16px auto;
    padding: 16px;
    text-align: center;
    position: relative;
    display: block;
}

.ClientReview h1 {
    color: #853aa1;
    font-family: cursive;
}

/* Code for backgroud image of the main div */
/* .ClientReview::after {
  content: "";
  background: url("../../assets/ClientReview/review.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
} */

/* Media queries; for parallax effect comment out this section */
@media (min-width: 500px) {
    .ClientReview {
        width: 60%;
        height: auto;
    }
}
